#!/bin/bash

# echo "$(date) - cron entry ran as $(whoami)" >> /home/guestshell/ciscoautocert.log

ENVPATHHERE/bin/python ENVPATHHERE/bin/certbot renew --quiet  --config-dir /root/certbot-config/ --work-dir /root/certbot-work/ --logs-dir /root/certbot-logs/ --deploy-hook /root/renew-hook.sh
